<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte</title>
    <style>
        * {
            border-collapse: collapse;
        }

        html, body {
            margin: 0;
            border: 0;
            padding: 0;
        }

        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background-color: #000000;
        }

        header > a{
            padding: 10px;
            text-decoration: none;
            color: #FFFFFF;
        }

        #main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            width: fit-content;
            margin: 10px;
        }

        form > input{
            width: 320px;
            height: 25px;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        .bloc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 300px;
            margin: 25px;
            padding: 0 20px;
            border: 1px solid #000000;
        }

        h3{
            margin: 0;
            color: #818181;
        }

        .blocBouton{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin: 20px 0;
        }

        .delete {
            background-color: #BF7C63;
            width: fit-content;
            padding-left: 6px;
            margin: 0;
        }

    </style>
</head>
<body>
    <header id="header">
        <a href="/">Home</a>
    </header>
    <h1>Recherche de Salle</h1>
    <form action="/reservationresultat" method="post">

        <label for="idNombreSiege">Nombre de Sièges</label>
        <input type="number" name="nombresiege" id="idNombreSiege">

        <input type="submit" value="Valider" class="edit">
    </form>
</body>
</html>